{{ form.hidden_tag() }}
<div class="form-column">
  {% for field in form if field.widget.input_type != 'hidden' %}
    {% if field.errors %}
      <div class="form-row">
        {{ field.label(class_="form-flex-item form-label form-error-color") }}
        {% if field.type == "TextAreaField" %}
        {{ field(class_="form-flex-item form-textarea") }}
        {% else %}
        {{ field(class_="form-flex-item") }}
        {% endif %}
      </div>
      {% for error in field.errors %}
      <div class="form-row">
        <div class="align-l form-flex-item form-error-color form-error">{{ error }}</div>
      </div>
      {% endfor %}
    {% else %}
    <div class="form-row">
      {{ field.label(class_="form-flex-item form-label") }}
      {% if field.type == "TextAreaField" %}
      {{ field(class_="form-flex-item form-textarea") }}
      {% else %}
      {{ field(class_="form-flex-item") }}
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</div>
<button class="centered button-green">Submit</button>